.link-box {
    line-height: 4px;
    padding: 1rem;
    background-color: var(--component-bg-color);
    color: black;
    font-size: 1rem;
    border-radius: .25rem!important;
}

.header-input {
    border: 0;
    padding: 0.25rem;
    font-size: 1rem;
    background-color: var(--component-bg-color);
    color: black;
    border-radius: .25rem!important;
}

.header-input:focus {
    outline-width: 0;
}

.header-input[type='number']::-webkit-inner-spin-button,
.header-input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
    background-color: red;
}

.space-5 {
    margin-left: 5px;
}

.space-10 {
    margin-left: 10px;
}

.space-20 {
    margin-left: 20px;
}

.space-50 {
    margin-left: 50px;
}

.icon-smaller {
    width: 22px
}

.active-record {
    fill: red;
}


/*.active-play {
}*/

.config-box,
.cycle-box {
    border-bottom: 1px solid #262626;
    border-right: 1px solid var(--component-bg-color);
    background-color: #252525;
    width: 8.5%;
    min-width: auto;
    height: auto;
    font-size: 16px;
    text-align: center;
    vertical-align: baseline;
}

.cycle-box {
    line-height: 4.5;
}

.play-box {
    border-bottom: 1px solid #262626;
    border-right: 1px solid var(--component-bg-color);
    background-color: #252525;
    min-width: auto;
    height: auto;
    transition: 0.2s ease;
    opacity: 1;
    color: gray !important;
}

.edit-close {
    width: 2.5%;
    height: auto;
}

.play-box:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header-box {
    margin: 1px;
    background-color: #1a1a1a;
    text-align: center;
}

.editor-box {
    height: auto;
    min-width: auto;
}

#repeat {
    font-size: 1.5rem;
}

#play,
#stop,
#record,
#repeat {
    transition: 0.125s ease-in;
}

#play:hover,
#play:focus {
    text-shadow: 0 0 0.15em rgba(50, 205, 50, 0.5);
}

#record:hover,
#record:focus,
#stop:hover,
#stop:focus {
    text-shadow: 0 0 0.15em rgba(255, 127, 127, 0.5);
}

#stop:focus,
#stop:active {
    color: #ff4040 !important;
}

.green {
    color: rgb(50, 205, 50) !important;
}

.red {
    color: rgb(255, 127, 127) !important;
}

.yellow {
    color: yellow !important;
}

.gray {
    color: gray !important;
}

.bi {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    transition: 0.2s ease;
}

.icon-button {
    background-color: var(--component-bg-color) !important;
    color: black !important;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button>img {
    width: 100%;
    margin: 0;
}

.s-code {
    background-color: #272727;
}

#add-button,
#minus-button {
    float: right;
}

.player {
    background-color: var(--component-bg-color);
    padding: .375rem .75rem;
}