.link-box {
    line-height: 16px;
    padding: 4px;
    background-color: #777777;
    color: black;
}


.header-input {
    border: 0;
    background-color: #777777;
    font-family: monospace;
    padding: 4px;
    line-height: 16px;
}

.header-input:focus {
    outline-width: 0;
}

.header-input[type='number']::-webkit-inner-spin-button,
.header-input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
    background-color: red;
}

.space-5 {
    margin-left: 5px;
}

.space-10 {
    margin-left: 10px;
}

.space-20 {
    margin-left: 20px;
}

.space-50 {
    margin-left: 50px;
}

div.float-left {
    display: flex;
}

.icon-link {
    margin-left: 8px;
}

.icon-link:hover {
    cursor: pointer;
}

.icon-smaller {
    width: 22px
}

.active-record {
    fill: red;
}

.active-play {
}

.config-box {
    border-bottom: 1px solid #262626;
    border-right: 1px solid #777777;
    background-color: #252525;
    width: 5%;
    font-size: 16px;
    height: auto;
    text-align: center;
}

.play-box {
    width: 2%;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #777777;
    background-color: #252525;
    min-width: auto;
    height: auto;
}

.play-box:hover {
    cursor: pointer;
}

.header-box {
    height: 20px;
    background-color: #1a1a1a;;
}

.editor-box {
    height: auto;
}

.icon-button {
     line-height:0;
     padding: 0;
     width: 26px;
     padding-left: 6px;
     padding-top: 2px;
 }

.icon-button:hover {
    cursor: pointer;
}

.icon-button > img {
    width: 20px;
    margin: auto;
}