div.row {
    display: flex;
    min-height: 50px;
}

div.row > pre {
    float:left;
    border-bottom: 0;
    border-top: 0;
}

pre, code {
    height: 100%;
    border-bottom: 0;
    display: table-cell;
}