div.row {
    display: flex;
}

div.row>pre {
    float: left;
    border-bottom: 0;
    border-top: 0;
}

pre,
code {
    height: 100%;
    border-bottom: 0;
    display: table-cell;
}

#editor-wrapper {
    width: 100%;
    float: left;
}

#feedback-container {
    background: #2b2b2b;
    color: #A9B7C6;
    overflow: auto;
}

#feedback {
    background: #2b2b2b;
}

#editor-table {
    display: table-cell;
}

#content-wrapper {
    display: table;
    width: 100%;
}